
@model DonateViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 style="float: left">Donate</h2>
<h2 style="float: right">Points: @Model.User.Points</h2>

<form asp-area="" asp-controller="Donate" asp-action="Index" method="post" id="donateForm">
    <br />
    <br />
    <br />
    @*<table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Points</th>
            <th scope="col">Donation</th>
        </tr>
        </thead>
        <tbody>*@
    @foreach (NonProfitModel nonprofit in Model.NonProfitsList)
    {
        var percent = ((double) nonprofit.Points / nonprofit.PointsGoal) * 100;

        @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Points)
        @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].PointsGoal)
        @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Name)
        @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Description)
        @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Id)
        <div class="row" style="margin-left:auto;margin-right:auto; width: 40%;">
            <h3>@nonprofit.Name</h3>
            <table>
                <tr>
                    <th style="width: 100%">
                        <b>Description:</b>
                    </th>
                    <th>
                        <b>Donate:</b>
                    </th>
                </tr>
                <tr>
                    <td style="width: 100%">
                        @nonprofit.Description
                    </td>
                    <td>
                        @Html.EditorFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].PointsFromUser, new { htmlAttributes = new { type = "number", @class = "form-control", style = "width: 10em", min = "0" } })
                    </td>
                </tr>
            </table>
            <div class="progress" style="width: 100%; margin-top: 10px;">
                <div class="progress-bar-success" role="progressbar" aria-valuenow="@nonprofit.Points"
                     aria-valuemin="0" aria-valuemax="@nonprofit.PointsGoal" style="width: @percent%; color: white; text-align: center;">
                    @(((double)nonprofit.Points / @nonprofit.PointsGoal) * 100)% Donated
                </div>
            </div>
        </div>
    }
    @*</tbody>
    </table*@
    <button type="submit" style="float: right" class="btn btn-primary">Donate</button>
</form>

@if (User.IsInRole("Admin"))
{
    <h2>Admin Dashboard</h2>
    <form asp-area="" asp-controller="Donate" asp-action="EditNonProfit" method="post" id="editNonProfitForm">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Points</th>
                <th scope="col">Points Goal</th>
            </tr>
            </thead>
            <tbody>

            @foreach (NonProfitModel nonprofit in Model.NonProfitsList)
            {
                //            @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Points)
                //            @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Name)
                //            @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Description)
                //, new { htmlAttributes = new { type="number", @class ="form-control", style="width: 10em", min="0" } }  <-to add attributes
                @Html.HiddenFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Id)
                <tr>
                    <td>@Html.EditorFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Name)</td>
                    <!--<td>@Html.EditorFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Description)</td> -->
                    <td>@Html.TextAreaFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Description)</td>
                    <td>@Html.EditorFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].Points)</td>
                    <td>
                        @Html.EditorFor(m => m.NonProfitsList[Model.NonProfitsList.IndexOf(nonprofit)].PointsGoal)
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <a asp-area="" asp-controller="Donate" asp-action="Create" title="Add New NonProfit"class="btn btn-primary">New Non Profit</a>
        <button type="submit" style="float: right" class="btn btn-primary">Submit Changes</button>
    </form>
}
